In [1]:
!pip install pyspark

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyspark in c:\users\kiit\appdata\roaming\python\python311\site-packages (3.5.2)
Requirement already satisfied: py4j==0.10.9.7 in c:\users\kiit\appdata\roaming\python\python311\site-packages (from pyspark) (0.10.9.7)

DEPRECATION: Loading egg at c:\programdata\anaconda3\lib\site-packages\vboxapi-1.0-py3.11.egg is deprecated. pip 23.3 will enforce this behaviour change. A possible replacement is to use pip for package installation..

In [2]:
import pyspark

In [7]:
import pandas as pd
pd.read_csv('test3.csv')

       Name   Age
0      Krish   31
1  Sudhanshu   30
2      Sunny   29

In [8]:
from pyspark.sql import SparkSession

In [9]:
spark = SparkSession.builder.appName('Practise').getOrCreate()

In [10]:
spark

In [11]:
df_pyspark = spark.read.csv('test3.csv')

In [12]:
df_pyspark

DataFrame[_c0: string, _c1: string]

In [16]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [13]:
df_pyspark.show()

+---------+---+
|      _c0|_c1|
+---------+---+
|    Name |Age|
|    Krish| 31|
|Sudhanshu| 30|
|    Sunny| 29|
+---------+---+

In [14]:
spark.read.option('header','true').csv('test3.csv')

DataFrame[Name : string, Age: string]

In [19]:
spark.read.option('header','true').csv('test3.csv').show()

+---------+---+
|    Name |Age|
+---------+---+
|    Krish| 31|
|Sudhanshu| 30|
|    Sunny| 29|
+---------+---+

In [20]:
df_pyspark =  spark.read.option('header','true').csv('test3.csv')

In [21]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [22]:
df_pyspark.head(3)

[Row(Name ='Krish', Age='31'),
 Row(Name ='Sudhanshu', Age='30'),
 Row(Name ='Sunny', Age='29')]

In [23]:
df_pyspark.printSchema()

root
 |-- Name : string (nullable = true)
 |-- Age: string (nullable = true)